body {
  background-color: lightgrey;
}

/* svg {
   background: lightblue;
  height: 100%;
  width: 100%;
  position: fixed;
} */

/* from https://bost.ocks.org/mike/leaflet/ */


svg {
  position: relative;
}

h3 span {
  font-size: 25px;
  margin-left: 10%;
}

h3 span.light {
  color: silver;
}

.header-span {
  font-size: 25px;

}

.feature-subheader {
  font-size: 20px;
  color: silver;
}

.feature .static-satellite {
  margin-top: 10px;
  margin-bottom: 10px;
}

.airport-coords {
  margin-top: -20px;
  margin-left: 0px;
}

.pie-chart-holder path {
  fill-opacity: 0.7;
}

.pie-chart-holder path:hover {
  fill-opacity: 1;
}

.airport-code {
  margin-top: -25px;
}

#app-nav {
  height: 50px;
  background-color: pink;
}

#app-cards svg {
  width: 100%;
}

.bar {
  fill: darkblue;
}

.story-nav-btns {

}

.mapbox-popup p {
  margin-bottom: 0rem !important;
}

.app-card {

  height: auto;
  background-color: lightgrey;
  color: grey;
  margin-bottom: 25px;
  /* border-bottom: 1px solid grey; */
  /* border-radius: 10px; */
  padding: 25px;
  /* border: 1px solid black; */

  /* Generated with https://www.cssmatic.com/box-shadow */
  -webkit-box-shadow: 3px 2px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 3px 2px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 3px 2px 10px 0px rgba(0,0,0,0.5);


}

.app-card:not(.active) .card {
  background-color: lightgrey;

}

.app-card:last-child {
  margin-bottom: 1000px;
}

.app-card.active {

  background-color: white;
  color: black;
}

.legend {
  height: 100px;
  margin-bottom: 40px;
  background-color: none;

}

.legend-content {

}

.feature {
  margin-bottom: 40px;
  background-color: none;
}

.feature-content {

}


/* Navbar */
#mode-buttons {
  margin-right: 19%
}

#main-container {
  margin-top: 56px;
  height: 100%;
  /* background-color: green; */
}

#main-map {
  height: calc(100% - 55px);
  /* width: 900px; */
  position: fixed;
  padding-right: 0px;
  padding-left: 0px;
}

#map-nav {
  /* margin-bottom: 15px; */
  margin-right: 9%;
  /* background-color: */
}

#info-body {
  /* background-color: yellow; */
  /* margin-top: 25px;
  margin-right: 2%; */
}

#map-nav {
  background-color: lightgreen;
}

#cards {
  /* background-color: white; */
}
