body {
  background-color: lightgrey;
}

/* svg {
   background: lightblue;
  height: 100%;
  width: 100%;
  position: fixed;
} */

/* from https://bost.ocks.org/mike/leaflet/ */


svg {
  position: relative;
}

h3 span {
  font-size: 25px;
  margin-left: 10%;
}

h3 span.light {
  color: silver;
}

.header-span {
  font-size: 25px;

}

.modal-dialog {
  max-width: 100% !important;
  margin: 0px;
}

.modal-content {
  background-color: white;
  /* background-image: url('../assets/images/containers.png'); */
}

#landing-content {
  height: 100vh;
  margin-top: 20vh;
  /* background-color: pink; */
  /* background-image: url('./assets/images/containers.png'); */
}

#landing-content p {
  font-size: 24px;
}

#app-page {

}


.feature-subheader {
  font-size: 20px;
  color: silver;
}

.feature .static-satellite {
  margin-top: 10px;
  margin-bottom: 10px;
}

.airport-coords {
  margin-top: -20px;
  margin-left: 0px;
}

.pie-chart-holder path {
  fill-opacity: 0.7;
}

.pie-chart-holder path:hover {
  fill-opacity: 1;
}

.airport-code {
  margin-top: -25px;
}

.octicon {
  fill: white;
}

.octicon:hover {
  fill: lightgrey;
}

#app-nav {
  top: 56px !important ;
  height: 70px;
  background-color: white;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}

#app-nav div {
  height: 70px;
  cursor: pointer;
}

#app-nav div:hover {
  background-color: grey;
}

#app-nav div p {
  font-size: 20px;
  margin-top: 20px;
}

#app-nav .active {
  background-color: lightgrey;
}

#app-nav .clicking {
  background-color: lightgrey !important;
}

#app-cards svg {
  width: 100%;
}

.bar {
  fill: #537895;
}

.bar:hover {
  opacity: 0.8;
}

#imports-bar-chart .bar {
  fill: #d95f0e;
}

#top-five-ports-bar-chart .bar {
  fill: #d95f0e;
}

.story-nav-btns {

}

.mapbox-popup p {
  margin-bottom: 0rem !important;
}

.app-card {

  height: auto;
  background-color: lightgrey;
  color: grey;
  margin-bottom: 25px;
  /* border-bottom: 1px solid grey; */
  /* border-radius: 10px; */
  padding: 25px;
  /* border: 1px solid black; */

  /* Generated with https://www.cssmatic.com/box-shadow */
  -webkit-box-shadow: 3px 2px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 3px 2px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 3px 2px 10px 0px rgba(0,0,0,0.5);


}

.app-card:not(.active) .card {
  background-color: lightgrey;

}

.app-card.active {

  background-color: white;
  color: black;
}

.legend {
  /* height: 100px; */
  margin-bottom: 40px;
  background-color: none;

}

.legend-content {

}

.feature {
  margin-bottom: 40px;
  background-color: none;
}

.feature-content {

}


/* Navbar */
#mode-buttons {
  margin-right: 19%
}

#main-container {
  margin-top: 56px;
  height: 100%;
  /* background-color: green; */
}

#main-map {
  height: calc(100% - 55px);
  /* width: 900px; */
  position: fixed;
  padding-right: 0px;
  padding-left: 0px;
}



#info-body {
  /* background-color: yellow; */
  /* margin-top: 25px;
  margin-right: 2%; */
}

#map-nav {
  background-color: lightgreen;
}

#cards {
  /* background-color: white; */
}
